
.room-index-title{
    text-align: left;
    border-top: 1px solid #eaedef;
    border-bottom: 1px solid #eaedef;
}

//rooms/new.html.erb

.rooms-new-title{
    text-align: left;
    border-top: 1px solid #eaedef;
    border-bottom: 1px solid #eaedef;
}

//rooms/search.html.erb

.rooms-search-title{
    text-align: left;
}

