

// .user-icon{
//     width: 80px;
//     height: 80px;
//     border-radius: 50%;
//     margin: 0px auto;
//     object-fit: cover;
//     overflow: hidden;
//     vertical-align: middle;
// }

.user-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;

}
